

<div class="container text-center">
    <h1 class="top-align">Welcome to Bemyeyes</h1>
    <h3>Bemyeyes is a platform that allows visually impiared folks to upload pictures so that sighted folkds can anaylize them and provide a description of the image contents.</h3>

    <div class="column mt-4">
          <a href="/sign-up" class="button">Sign Up</a>
          <a href="/login" class="button">Login</a>
    </div>
</div>

