  
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 card-bg">
        <ul>
            {{#each tickets}}
              <li class="list-group-item list-group-item-card">
                <div class="lead">
                  <a href="/tickets/{{this._id}}" class="lead">{{this.imageName}}</a>
                </div>
                <div class="text-right">
                  <a href="/n/{{this.author}}">{{this.author}}</a>
                </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
