body {
    background-color: black; 
    font-family: 'Montserrat';
    color: #C0C0C0	;
  }

h1 {
    color: #C0C0C0;
}

h3 {
    color: #C0C0C0;
}


.navbar-brand {
    color: white;
}

.form-control:focus{
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bg-card {
    background-color: #2f2531;
    border: 5px solid #000;
}





.form-control {
    background-color: #454547;
    border: 5px solid #2f2531;
}

.list-group-item-card {
  background-color: #2f2531;
  ;
}



.href {
    color: #C0C0C0;
}

.loading-imgage {
    width: 50%;
    height: auto;
  }

  .show-imgage {
    width: 100%;
    height: auto;
  }

  .button-color {
    background-color: #2f2531;
    border-color: black;  
}

.top-align {
    padding-top: 50px;
}